extends /layout
block contents
  h1#heading Stovna brúkara
  div.formContainer
    form(method='post')
      div.form-group
        label(for='username') Brúkaranavn
        input.form-control#username(type='text' name='username' placeholder='Brúkaranavn')
      div.form-group
        label(for='name') Navn
        input.form-control#name(type='text' name='name' placeholder='Navn')
      div.form-group
        label(for='password') Loyniorð
        input.form-control#password(type='password' name='password' placeholder='Loyniorð')
      button.btn.btn-primary(type='submit') Stovna