extends /layout
block contents
  h1#heading Luttakarar
  div.formContainer
    h2 Stovna
    form.login-form(method='post')
      div.form-group
        label(for='name') Navn
        input.form-control#name(type='text' name='name' placeholder='Navn')
      div.form-group
        label(for='date-of-birth') Føðidato
        input.form-control#date-of-birth(type='date' name='date-of-birth')
      button.btn.btn-primary(type='submit') Stovna
  if participants
    table.table
      thead
        tr
          th Navn
          th Føðidato
      tbody
        each participant in participants
          tr
            td= participant.name
            td= participant.date_of_birth