extends /layout
block contents
  h1#heading Brúkara admin panel
  table.table
    thead
      tr
        th Brúkaranavn
        th Navn
        th Strika
    tbody
      each user in users
        tr
          form(action='delete')
            input(type='hidden' value=user.id)
          td= user.username
          td= user.real_name || "Ókent"
          td
            button.btn.btn-danger Strika