nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  div.container
    div.navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Talgild stigskipan
    div.navbar-collapse.collapse#navbar
      ul.nav.navbar-nav
        if currentPage === '/'
          li.active
            a(href='/') Heim
              span.sr-only (current)
        else
          li
            a(href='/') Heim
        each competition in competitions
          if currentPage === competition.name
            li.active
              a(href='/kappingar/' + competition.name)= competition.name
                span.sr-only (current)
          else 
            li
              a(href='/kappingar/' + competition.name)= competition.name