extends /layout
block contents
  h1#heading Talgild stigtalva
  //- if data
  //-     h1(id='heading')= data[0].dicipline
  //-     table(id='test' class='display stripe hover' width='100%' cellspacing='0')
  //-         thead
  //-         tr
  //-             th Navn
  //-             th Felag
  //-             th E
  //-             th D
  //-             th Úrslit
  //-         tfoot
  //-         tr
  //-             th Navn
  //-             th Felag
  //-             th E
  //-             th D
  //-             th Úrslit
  //-         tbody
  //-         each row in data
  //-             tr
  //-             td= row.participant
  //-             td= row.team
  //-             td= row.e
  //-             td= row.d
  //-             td= row.total
  //- else
  //-     h1(id='heading') Úrslit