doctype
html
  head
    title Fimleikaskipan
    meta(charset='utf-8')
    script(type='text/javascript' src='/public/jQuery-1.12.3/jquery-1.12.3.min.js')
    script(type='text/javascript' src='/public/dataTables/dataTables-1.10.12/js/jquery.dataTables.min.js')
    script(type='text/javascript' src='/public/bootstrap-3.3.7-dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/public/socket.io/socket.io.min.js')
    // script(type='text/javascript' src='/public/tableController.js')
    link(rel='stylesheet' href='/public/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/public/dataTables/dataTables-1.10.12/css/jquery.dataTables.min.css')
    link(rel='stylesheet' href='/public/style.css')
  body
    include /header
    div(class='container')
      div(class='jumbotron')
        each message in messages
          div(class='alert alert-' + message.type)= message.text
        block contents
