extends /layout
block contents
  h1 Rita inn
  div.formContainer
    form#login-form.px-4.py-3(method="post" action="/login")
      div.form-group
        label(for="username") Brúkaranavn
        input#username.form-control(type="text", name="username" placeholder="Brúkaranavn")
      div.form-group
        label(for="password") Loyniorð
        input#password.form-control(type="password", name="password" placeholder="Loyniorð")
      button.btn.btn-primary(type="submit") Rita inn