extends /layout
  h1 Dagføring av stigtalvu
  form(action='#' method='post')
    input(id='dicipline' name='dicipline' placeholder='Grein' type='text')
    table(id='updateTable' class='display')
    thead
      tr
      th Navn
      th Felag
      th E
      th D
      th Úrslit
    tfoot
      tr
      th Navn
      th Felag
      th E
      th D
      th Úrslit
    tbody
      if data
      each row in data
        tr(id='hello')
        td
          input(id='name' name='name' value=row.participant type='text')
        td 
          input(id='team' name='team' value=row.team type='text')
        td 
          input(id='e' name='e' value=row.e type='text')
        td 
          input(id='d' name='d' value=row.d type='text')
        td 
          input(id='total' name='total' value=row.total type='text')
        else
        tr(id='hello')
          td
          input(id='name' name='name' placeholder='Navn' type='text')
          td 
          input(id='team' name='team' placeholder='Felag' type='text')
          td 
          input(id='e' name='e' placeholder='E' type='text')
          td 
          input(id='d' name='d' placeholder='D' type='text')
          td 
          input(id='total' name='total' placeholder='Úrslit' type='text')

    input(type='submit' value='Dagfør' class='btn btn-primary')
  button(id='addRow' class='btn btn-default') Legg luttakara afturat
  button(id='removeAll' class='btn btn-default') Strika alt
  button(id='removeRow' class='btn btn-default') Strika valdu rekkju